<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amoralesu.sensationcolor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.camera"></uses-feature>
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fourcolor"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeleccionGeneroActivity"
            android:label="@string/title_activity_seleccion_genero" >
        </activity>
        <activity
            android:name=".CamaraActivity"
            android:label="@string/title_activity_camara" >
        </activity>
    </application>

</manifest>
